<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACNH Collection Tracker</title>

    <!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://kit.fontawesome.com/13471d8c05.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="index.ejs"><img id="headerImg" src="acnhLogo.png" alt="Animal Crossing: New Horizons"></a>
        <h1>ACNH Tracking Tools</h1>
        <!-- <nav>
            <ul>
                <li><a href="tasks.html">Tasks</a></li>
                <li><a href="music.html">Music</a></li>
                <li><a href="gyroids.html">Gyroids</a></li>
                <li><a href="fossils.html">Fossils</a></li>
                <li><a href="art.html">Art</a></li>
                <li><a href="umbrellas.html">Umbrellas</a></li>
            </ul>
        </nav> -->
    </header>

    <main id="main1">
        <p>This app is to help anyone playing "Animal Crossing: New Horizons" keep track of the large number of in game collectibles. If you are in Redd's ship and don't know if you already own a certain painting, use this app instead of running to the museum to check! Same goes for K.K. Slider songs and more!</p>
        <p>Adding more collections soon! Look out for Bugs, Sea Creatures, Fish, Housewares and more!</p>
        <a href="/login"> Login</a>
        <a href="/signup"> Signup</a>
    </main>
    <footer>
        <section id="footerDiv">
            <p class="copyright">&copy; <a href='https://www.christhompsondev.com/' target="_blank">Chris Thompson</a>. All rights reserved.</p>
        </section>
    </footer>

    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>